<div class="container">
  <h1>Welcome to the question and answer board</h1>
  <p> Post a question by clicking the New Question button.</p>

  {{new-question saveQuestion="saveQuestion"}}

  <p> Click on the below question banks for details.</p>

  <ol>
      {{#each model.questions as |question|}}
        {{question-tile question=question}}
      {{/each}}
  </ol>

<h2>Answer Sections</h2>

  <ul>
    {{#each model.answers as |answer|}}
      <li>{{answer.content}} by {{answer.author}}</li>
    {{/each}}
  </ul>
</div>
