<h1>Welcome to the question and answer board</h1>
<p> Post a question by clicking the New Question button.</p>

{{new-question saveQuestion="saveQuestion"}}

<p> Click on the existing question to provide an answer.</p>

<ul>
    {{#each model as |question|}}
      {{question-tile question=question}}
    {{/each}}
</ul>
