<h1>Welcome to the question and answer board</h1>
<p> Post a question by clicking the add question button.</p>
<p> Click on the existing question to provide an answer.</p>

<ul>
    {{#each model as |question|}}
      <li>{{question.content}} - by {{question.author}}</li>
    {{/each}}
</ul>
